name: Test & Build

on:
  push:
    branches: [master]
  pull_request:
  release:
    types: [created]

jobs:
  build-phar:
    runs-on: ubuntu-latest
    name: Build PHAR
    strategy:
      fail-fast: false
      matrix:
        php: ["8.2"]
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0

      - name: Setup PHP
        uses: shivammathur/setup-php@9e72090525849c5e82e596468b86eb55e9cc5401 # v2
        with:
          php-version: ${{ matrix.php }}
          ini-values: phar.readonly=0
          extensions: fileinfo
          tools: composer:v2
          coverage: pcov

      - name: Setup Problem Matches
        run: |
          echo "::add-matcher::${{ runner.tool_cache }}/php.json"
          echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v2

      - name: PHPUnit Testing
        run: vendor/bin/pest --coverage

      - name: Copy application to phar
        run: cp application application.phar

      - name: Build PHAR
        run: php application app:build branch-usage-checker --build-version

      # Smoke test
      - name: Ensure the PHAR works
        run: builds/branch-usage-checker --version

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        name: Upload the PHAR artifact
        with:
          name: branch-usage-checker
          path: builds/branch-usage-checker

  publish-phar:
    runs-on: ubuntu-latest
    name: Publish the PHAR
    needs:
      - "build-phar"
    if: github.event_name == 'release'
    steps:
      - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5
        with:
          name: branch-usage-checker
          path: builds/

      - name: Upload box.phar
        uses: softprops/action-gh-release@c95fe1489396fe8a9eb87c0abf8aa5b2ef267fda # v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          files: builds/branch-usage-checker
